
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCEEgk1X0CvEzJ9e9a6xn3WxTsX1TObiJw</string>
	<key>GCM_SENDER_ID</key>
	<string>1011667681949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.care.familycare</string>
	<key>PROJECT_ID</key>
	<string>familycare-d009d</string>
	<key>STORAGE_BUCKET</key>
	<string>familycare-d009d.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1011667681949:ios:cf1fb389551a5e92854a74</string>
</dict>
</plist>
